In [4]:
## Exercise 1

from __future__ import print_function, division
import cmd


class Calculator(cmd.Cmd):
    prompt = 'calc >>> '
    intro = 'Simple calculator that can do addition, subtraction, multiplication and division.'

    def do_add(self, line):
        args = line.split()
        total = 0
        for arg in args:
            total += float(arg.strip())
        print(total)
    
    def help_add(self):
        print('\n'.join([
            'add [number,]',
            'Add the arguments together and display the total.'
        ]))

    def do_subtract(self, line):
        args = line.split()
        total = 0
        if len(args) > 0:
            total = float(args[0])
            for arg in args[1:]:
                total -= float(arg.strip())
            print(total)
    
    def help_subtract(self, line):
        print('\n'.join([
            'subtract [number,]',
            'Subtract all following arguments from the first argument'
        ]))
    
    def do_multiply(self, line):
        args = line.split()
        if len(args) > 0:
            total = float(args[0])
            for arg in args[1:]:
                total *= float(arg.strip())
            print(total)
    
    def help_multiply(self, line):
        print('\n'.join([
            'multiply [number,]',
            'Multiply the arguments together and display the total.'
        ]))
    
    def do_divide(self, line):
        args = line.split()
        total = 0
        if len(args) > 0:
            total = float(args[0])
            for arg in args[1:]:
                total /= float(arg.strip())
            print(total)
    
    def help_divide(self, line):
        print('\n'.join([
            'divide [number,]',
            'divide all following arguments with the first argument'
        ]))

    def do_EOF(self, line):
             print('bye, bye')
             return True


if __name__ == '__main__':
     Calculator().cmdloop()

Simple calculator that can do addition, subtraction, multiplication and division.
calc >>> add 4 5 6
15.0
calc >>> multiply 4 5 6
120.0
calc >>> divide 120 1 2 3 4 5
1.0
calc >>> subtract 4 1 2 3
-2.0
calc >>> EOF
bye, bye

In [5]:
## Excerise 2

class mycmd(cmd.Cmd):
    '''Simple command processor example.'''

    def do_deploy(self, line):
        print('In Deploy')
        
    def do_kill(self, line):
        print('In Kill')
    
    def do_benchmark(self, line):
        print('In benchmark')
    
    def do_report(self, line):
        print('In report')

    def do_EOF(self, line):
        print('bye, bye')
        return True


if __name__ == '__main__':
    mycmd().cmdloop()

(Cmd) deploy
In Deploy
(Cmd) kill
In Kill
(Cmd) benchmark
In benchmark
(Cmd) report
In report
(Cmd) EOF
bye, bye

In [106]:
## Exercise 3

import os, urllib 
import pygal
import pandas as pd

if '2016-first-quarter-citations.csv' not in os.listdir('./'):
    urllib.urlretrieve("https://data.bloomington.in.gov/dataset/c543f0c1-1e37-46ce-a0ba-e0a949bd248a/resource/24841976-fd35-4483-a2b4-573bd1e77cfb/download/2016-first-quarter-citations.csv",
                      "2016-first-quarter-citations.csv")

In [75]:
data = pd.read_csv('2016-first-quarter-citations.csv')
data.head()

,Citation Number,Date Issued,Time Issued,Location,District,Cited Person Age,Cited Person Sex,Cited Person Race,Offense Code,Offense Description,Officer Age,Officer Sex,Officer Race
0,C1979,1/14/16,4:00 PM,N WALNUT ST & E 14TH ST,LB213,35.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
1,C1980,1/14/16,4:26 PM,S WASHINGTON ST & E 3RD ST,LB104,43.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
2,C1981,1/14/16,4:35 PM,N WALNUT ST & E 7TH ST,LB102,22.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
3,C1982,1/14/16,4:20 PM,S WASHINGTON ST & E 3RD ST,LB104,26.0,F,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
4,C1983,1/14/16,4:50 PM,S WALNUT ST & W 3RD ST,LB103,27.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W

In [70]:
data.dropna(how='any')
data.shape

(210, 13)

In [76]:
type(data)

pandas.core.frame.DataFrame

In [77]:
data.index

RangeIndex(start=0, stop=210, step=1)

In [78]:
data.columns

Index([u'Citation Number', u'Date Issued', u'Time Issued', u'Location ',
       u'District', u'Cited Person Age', u'Cited Person Sex',
       u'Cited Person Race', u'Offense Code', u'Offense Description',
       u'Officer Age', u'Officer Sex', u'Officer Race'],
      dtype='object')

In [79]:
data.dtypes

Citation Number         object
Date Issued             object
Time Issued             object
Location                object
District                object
Cited Person Age       float64
Cited Person Sex        object
Cited Person Race       object
Offense Code            object
Offense Description     object
Officer Age            float64
Officer Sex             object
Officer Race            object
dtype: object

In [80]:
data.shape

(210, 13)

In [81]:
data.head()

,Citation Number,Date Issued,Time Issued,Location,District,Cited Person Age,Cited Person Sex,Cited Person Race,Offense Code,Offense Description,Officer Age,Officer Sex,Officer Race
0,C1979,1/14/16,4:00 PM,N WALNUT ST & E 14TH ST,LB213,35.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
1,C1980,1/14/16,4:26 PM,S WASHINGTON ST & E 3RD ST,LB104,43.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
2,C1981,1/14/16,4:35 PM,N WALNUT ST & E 7TH ST,LB102,22.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
3,C1982,1/14/16,4:20 PM,S WASHINGTON ST & E 3RD ST,LB104,26.0,F,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W
4,C1983,1/14/16,4:50 PM,S WALNUT ST & W 3RD ST,LB103,27.0,M,W,9-19-10-2,FRONT SEAT PASSENGER RESTRAINT,26.0,M,W

In [82]:
data.tail()

,Citation Number,Date Issued,Time Issued,Location,District,Cited Person Age,Cited Person Sex,Cited Person Race,Offense Code,Offense Description,Officer Age,Officer Sex,Officer Race
205,C2364,3/12/16,10:20 AM,W 3RD ST & S JOHNSON AVE,LB404,35.0,F,W,9-21-5-2,SPEED MAXIMUM,39.0,F,W
206,C2369,3/15/16,6:05 AM,S HIGH ST & E 3RD ST,LB222,60.0,M,W,9-21-5-2,SPEED MAXIMUM,39.0,F,W
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN

In [87]:
data = data.dropna(how='any')
data.shape

(200, 13)

In [93]:
from datetime import datetime
data['DateTime Issued'] = data.apply(
    lambda row: datetime.strptime
    (row['Date Issued'] + ':' + row['Time Issued'], 
     '%m/%d/%y:%I:%M %p'), axis=1)
data['Day of Week Issued'] = data.apply(
    lambda row: datetime.strftime(row['DateTime Issued'],
                                  '%A'), 
    axis=1)

In [133]:
## Plotting using pygal
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 
        'Saturday', 'Sunday']
dow_data = [days.index(dow) 
            for dow in data['Day of Week Issued']]
dow_count = [dow_data.count(i) for i in range(len(days))]
hist_chart = pg.Histogram()
hist_chart.add('Day of Week', [(i,j,j+1) for i,j in zip(dow_count, range(len(dow_count)))])
hist_chart.x_labels = map(str, days)
hist_chart.render_to_file('save.svg')